.page{
  display: grid;
  grid-template-columns: 1fr;
}

.cardPr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 4rem;
}
.imgSize{
  width: 8rem;
  height: 8rem;
}

.HomeCatogray{
  display: grid;
  grid-template-columns: 1fr 1fr  1fr 1fr  1fr 1fr  1fr 1fr;
  gap: 5px;
  text-align: center;
  background-color: aliceblue;
}



/* HOME page */
.Products{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(223, 224, 224);
}
.productItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 40%;
  height: 400px;
  padding-left: 5px;
}
.button{
  margin: 5px;
}
.center{
  margin:auto;
  display:block;
}
.header{
  text-align: center;
}

.gridNav{
  display:grid;
  grid-template-rows: 1fr; 
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
}
.listU {
  list-style-type: none;
  margin: 0;
  margin-top: 0ch;
  padding: 0;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  justify-items: center;
  background-color: #333;
}

.listl {
  float: left;
}

.listlA {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  height: 2rem;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;

}

.listl:hover {
  background-color: #111;
}
.listR:hover {
  background-color: #111;
}

.textNav{
  width: 20rem;
}


.listR{
  float: right;
}

.imgCart{
  width: 2rem;
  height: 2rem;
}