.productItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: 30rem;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }