.cardPr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 4rem;
  }

  .imgSize{
    width: 8rem;
    height: 4rem;
  }

  nav{
    display: flex;
    justify-content: center;
  }

  .Product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(223, 224, 224);
  }

  
  .filterInList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
}