.productItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: 30rem;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .NamePr{
    font-size:small;
    font-family: 'Times New Roman', Times, serif;
  }

  #img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

div.NameSize{
  /* font-size:smaller;

  width: 20px;
  height: 20px;
  width: ; */

  background-color:aqua;
  
}