.gridList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 1rem;
  padding: 2rem;
  background-color: gray;
  background-color: rgb(223, 224, 224);
}
